<header>
  <div class="top-menu">
    <ul class="left-area welcome-area">
      <li class="hello-blog">Hello nice people, welcome to Sparkling Pink Pandas</li>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>

    <div class="right-area">
      <ul class="social-icons">
        {% for social in site.data.social %}
        <li><a href="{{ social.url }}" target="_blank" rel="noopener"><i class="{{ social.icon }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="middle-menu center-text">
    <a href="{{ '/' | relative_url }}" class="logo">
      <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Sparkling Pink Pandas Logo">
      <h4 class="site-title">
        Sparkling<span class="pink"> Pink </span>Pandas
      </h4>
    </a>
  </div>

  <div class="bottom-area">
    <div class="menu-nav-icon" data-nav-menu="#main-menu">
      <i class="fas fa-bars"></i>
    </div>

    <ul class="main-menu" id="main-menu">
      <li><a href="{{ '/' | relative_url }}">HOME</a></li>
      <li><a href="{{ '/events' | relative_url }}">EVENTS</a></li>
      <li><a href="{{ '/blog' | relative_url }}">BLOG</a></li>
      <li><a href="{{ '/gallery' | relative_url }}">GALLERY</a></li>
      <li><a href="https://groups.google.com/g/SparklingPinkPandas" target="_blank" rel="noopener">Google Group</a></li>
      <li><a href="{{ '/about' | relative_url }}">About Us</a></li>
      <li><a href="{{ '/about' | relative_url }}#membership">JOIN US</a></li>
    </ul>
  </div>
</header>
